/*--------------------------------------------------------------
 # Article List
--------------------------------------------------------------*/

.article .meta-top {
  color: #6c757d;
}

.article .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.article .meta-top li i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}

.article .meta-top li+li {
  padding-left: 20px;
}