/*--------------------------------------------------------------
  # Blog Posts List
  --------------------------------------------------------------*/

.blog .posts-list article {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.blog .posts-list .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
}

.blog .posts-list .post-category {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
}

.blog .posts-list .title {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog .posts-list .title a {
    color: #222222;
    transition: 0.3s;
}

.blog .posts-list .post-author-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.blog .posts-list .post-author-list {
    font-weight: 600;
    margin-bottom: 5px;
}

.blog .posts-list .post-date {
    font-size: 14px;
    color: #3c3c3c;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Blog Details
  --------------------------------------------------------------*/

.blog .blog-details {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
}

.blog .blog-details .post-img {
    margin: -30px -30px 20px -30px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.blog .blog-details .title {
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    margin: 20px 0 0 0;
}

.blog .blog-details .content {
    margin-top: 20px;
}

.blog .blog-details .content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}

.blog .blog-details .content blockquote {
    overflow: hidden;
    background-color: rgba(34, 34, 34, 0.06);
    padding: 10px 15px;
    position: relative;
    margin: 20px 0;
}

.blog .blog-details .content blockquote p {
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.blog .blog-details .content blockquote:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #3c3c3c;
}

.blog .blog-details .meta-top {
    margin-top: 20px;
    color: #6c757d;
}

.blog .blog-details .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.blog .blog-details .meta-top ul li+li {
    padding-left: 20px;
}

.blog .blog-details .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: #3498db;
}

.blog .blog-details .meta-top a {
    color: #6c757d;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

.blog .blog-details .meta-bottom {
    padding-top: 10px;
    border-top: 1px solid rgba(34, 34, 34, 0.15);
}

.blog .blog-details .meta-bottom i {
    color: #555555;
    display: inline;
}

.blog .blog-details .meta-bottom a {
    color: rgba(34, 34, 34, 0.8);
    transition: 0.3s;
}

.blog .blog-details .meta-bottom a:hover {
    color: #3498db;
}

.blog .blog-details .meta-bottom .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.blog .blog-details .meta-bottom .cats li {
    display: inline-block;
}

.blog .blog-details .meta-bottom .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.blog .blog-details .meta-bottom .tags li {
    display: inline-block;
}

.blog .blog-details .meta-bottom .tags li+li::before {
    padding-right: 6px;
    content: ",";
}

.blog .blog-details .meta-bottom .share {
    font-size: 16px;
}

.blog .blog-details .meta-bottom .share i {
    padding-left: 5px;
}

.blog .post-author {
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.blog .post-author img {
    max-width: 120px;
    margin-right: 20px;
}

.blog .post-author h4 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
    padding: 0;
}

.blog .post-author .social-links {
    margin: 0 10px 10px 0;
}

.blog .post-author .social-links a {
    color: rgba(34, 34, 34, 0.5);
    margin-right: 5px;
}

.blog .post-author p {
    font-style: italic;
    color: rgba(108, 117, 125, 0.8);
    margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Blog Sidebar
  --------------------------------------------------------------*/

.blog .sidebar {
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.blog .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.blog .sidebar .sidebar-item+.sidebar-item {
    margin-top: 40px;
}

.blog .sidebar .search-form form {
    border: 1px solid #3498db;
    padding: 5px 10px;
    position: relative;
    border-radius: 50px;
}

.blog .sidebar .search-form form input[type=text] {
    border: 0;
    padding: 4px;
    border-radius: 50px;
    width: calc(100% - 60px);
}

.blog .sidebar .search-form form input[type=text]:focus {
    outline: none;
}

.blog .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 25px;
    margin: -1px;
    transition: 0.3s;
    border-radius: 50px;
    line-height: 0;
}

.blog .sidebar .search-form form button i {
    line-height: 0;
}

.blog .sidebar .search-form form button:hover {
    color: #3498db;
}

.blog .sidebar .categories ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .categories ul li+li {
    padding-top: 10px;
}

.blog .sidebar .categories ul a {
    color: #222222;
    transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
    color: #3498db;
}

.blog .sidebar .categories ul a span {
    padding-left: 5px;
    color: rgba(34, 34, 34, 0.4);
    font-size: 14px;
}

.blog .sidebar .recent-posts .post-item+.post-item {
    margin-top: 15px;
}

.blog .sidebar .recent-posts img {
    width: 80px;
    float: left;
}

.blog .sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
    color: #222222;
    transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
    color: #3498db;
}

.blog .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: rgba(34, 34, 34, 0.4);
}

.blog .sidebar .tags {
    margin-bottom: -10px;
}

.blog .sidebar .tags ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .tags ul li {
    display: inline-block;
}

.blog .sidebar .tags ul a {
    color: #555555;
    font-size: 14px;
    padding: 6px 20px;
    margin: 0 6px 8px 0;
    border: 1px solid #d5d5d5;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50px;
}

.blog .sidebar .tags ul a:hover {
    color: #4aa3df;
}

.blog .sidebar .tags ul a span {
    padding-left: 5px;
    color: rgba(85, 85, 85, 0.8);
    font-size: 14px;
}

/*--------------------------------------------------------------
  # Blog Comments
  --------------------------------------------------------------*/

.blog .comments {
    margin-top: 30px;
}

.blog .comments .comments-count {
    font-weight: bold;
}

.blog .comments .comment {
    margin-top: 30px;
    position: relative;
}

.blog .comments .comment .comment-img {
    margin-right: 14px;
}

.blog .comments .comment .comment-img img {
    width: 60px;
}

.blog .comments .comment h5 {
    font-size: 16px;
    margin-bottom: 2px;
}

.blog .comments .comment h5 a {
    color: #3c3c3c;
    font-weight: bold;
    transition: 0.3s;
}

.blog .comments .comment h5 .reply {
    color: #3498db;
    padding-left: 10px;
}

.blog .comments .comment h5 .reply i {
    font-size: 20px;
}

.blog .comments .comment time {
    display: block;
    font-size: 14px;
    color: rgba(34, 34, 34, 0.8);
    margin-bottom: 5px;
}

.blog .comments .comment.comment-reply {
    padding-left: 40px;
}

.blog .comments .reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.blog .comments .reply-form h4 {
    font-weight: bold;
    font-size: 22px;
}

.blog .comments .reply-form p {
    font-size: 14px;
}

.blog .comments .reply-form input {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
}

.blog .comments .reply-form input:focus {
    box-shadow: none;
    border-color: #3498db;
}

.blog .comments .reply-form textarea {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
}

.blog .comments .reply-form textarea:focus {
    box-shadow: none;
    border-color: #3498db;
}

.blog .comments .reply-form .form-group {
    margin-bottom: 25px;
}

.blog .comments .reply-form .btn-primary {
    border-radius: 50px;
    padding: 14px 40px;
    border: 0;
}